* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Kanit', sans-serif;
}

.vsmall {
    font-size: 0.8em;
}

.h7 {
    margin: 0%;
    padding: 0%;
    font-size: 1.5em;
}

.h6 {
    /* margin: 0%;
    padding: 0%; */
    font-size: 1.5em;
}

.h6-0 {
    margin: 0%;
    padding: 0%;
    font-size: 1.5em;
}

.h5 {
    /* margin: 0%;
    padding: 0%; */
    font-size: 1.8em;
}

.h5-0 {
    margin: 0%;
    padding: 0%;
    font-size: 1.8em;
}

.h4 {
    margin: 0%;
    padding: 0%;
    font-size: 2em;
}

.h3 {
    margin: 0%;
    padding: 0%;
    font-size: 2.3em;
}

.sammy-nowrap-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}