<head>
    <meta charset="UTF-8">
    <title>
        Terminal
    </title>
    <%- include('partials/head.html') %>
</head>
<script>
    var horaAlCargar = Date.now()
</script>

<body style="background-color: white;">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-md-auto p-0 m-0">
                <%- include('partials/sidebar.html') %>
            </div>
            <div class="col">
                <div class="row">
                    <%- include('partials/navigation.html') %>
                </div>

                <main class="container-fluid mb-0" style="height: auto">
                    <div class="row pt-1 pb-1 h-100 d-flex">
                        <div class="col me-2 ms-0">
                            <h1 id="titulo" class=""> </h1>
                            <hr>
                            <div class="mt-0">
                                <form action="/Time" id="myForm" method="post" target="receiver">
                                    <input name="canchaAct" id="canchaAct" value="1" hidden> </input>
                                    <input name="timeAct" id="timeAct" value="0:00.00" hidden> </input>
                                    <input name="posAct" id="posAct" value="1" hidden> </input>
                                    <input name="regataAct" id="regataAct" value="1" hidden> </input>
                                    <input name="RPMact" id="RPMact" value="00" hidden> </input>

                                    <input name="ultActualizacion" id="ultActualizacion" value=0 hidden> </input>
                                    <ul class="list-group list-group-flush text-center" id="carriles">
                                    </ul>
                                </form>
                            </div>
                            <div class="text-secondary vsmall fw-light fixed-bottom text-center"> Presione un num. para
                                fijar posicion, alt + num. para tiempo</div>
                        </div>
                        <div class="col-3">
                            <%- include('partials/rightbar.html') %>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    </div>

    <%- include('partials/footer.html') %>


</body>

<script>
    //OBTENER Y COLOCAR DATOS QUE NO VARIAN EN TIEMPO
    window.addEventListener('load', fetchGrilla().then(newGrilla => {
        refrescar()
    }))

    var output = 1
    var posiciones = []
    var idrm, timethen, remds //Variables para calcular rpm
    var arrayDeCantidadDeCanchas

    //setInterval('refrescar()', 200)

    //OBTENER DATOS QUE VARIAN EN TIEMPO
    async function fetchGrilla() {
        const response = await fetch('/grilla.json');
        const newGrilla = await response.json();
        return newGrilla;
    }

    //COLOCAR DATOS QUE VARIAN EN TIEMPO
    async function refrescar() {
        // document.getElementById('tituloRegata').innerHTML = 'Eskere'
        fetchGrilla().then(newGrilla => {
            //TITULO DE REGATA
            var titulo = '(' +
                newGrilla.data[output - 1].categoria.nro + ') ' +
                newGrilla.data[output - 1].categoria.bote + ' ' +
                newGrilla.data[output - 1].categoria.cat + ' ' +
                newGrilla.data[output - 1].categoria.mf

            document.getElementById("titulo").innerHTML = titulo
            document.getElementById("regataAct").value = output

            //LISTA DE carriles
            var listaCanchas = '<li class="list-group-item container fw-bold">' +
                '<div class="row align-items-center justify-content-center">' +
                '<div class="col-1">' +
                'carril' +
                '</div>' +
                '<div class="col">' +
                'tripulación' +
                '</div>' +
                '<div class="col-2 ">' +
                '<button type="submit" class="btn btn-light fw-bold" onmouseover="this.innerHTML = ' +
                "'rein.'" + '" onmouseout="this.innerHTML = ' + "'pos.'; this.classList.remove('btn-warning'); this.classList.add('btn-light')" +
                '" onClick="reiniciarPos(this)"> pos. </button>' +
                '</div>' +
                '<div class="col-2">' +
                '<button type="submit" class="btn btn-light fw-bold" onmouseover="this.innerHTML = ' +
                "'reiniciar'" + '" onmouseout="this.innerHTML = ' + "'tiempo'; this.classList.remove('btn-warning'); this.classList.add('btn-light')" +
                '" onClick="reiniciar(this)"> tiempo </button>' +
                '</div>' +
                '<div class="col-2">' +
                '<button type="submit" class="btn btn-light fw-bold" onmouseover="this.innerHTML = ' +
                "'rein.'" + '" onmouseout="this.innerHTML = ' + "'rpm'" +
                '" onClick="reiniciarRPM()"> rpm </button>' +
                '</div>' +
                '</div>' +
                '</li>'
            arrayDeCantidadDeCanchas = []
            newGrilla.data[output - 1].carriles.forEach(function callback(value, index) {
                arrayDeCantidadDeCanchas.push('')
                listaCanchas = listaCanchas +
                    '<li class="list-group-item container">' +
                    '<div class="row">' +
                    '<div class="col-6">' +
                    '<div class="row">' +
                    '<div class="col-1">' +
                    parseInt(index + 1) + //carril
                    '</div>' +
                    '<div class="col fs-6 fw-ligh">' +
                    value.club +
                    '</div>' +
                    '</div>' +
                    '<div class="row">' +
                    '<p class="p-0 m-0 fw-light text-center" style="font-size: 0.6em">' + value.nombres + '</p>' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-2">' +
                    '<button id="p' + index + '" onClick="setPosicion(this)" class="btn btn-outline-success">' + value.posicion + '</button>' +
                    '</div>' +

                    '<div class="col-2">' +
                    '<button type="button" id="t' + index + '" onClick="setTime(this)" class="btn btn-outline-info">' + value.tiempo + '</button>' +
                    '</div>' +

                    '<div class="col-2">' +
                    '<button type="submit" id="rm' + index + '" onClick="setRPM(this)" class="btn btn-outline-warning">' + value.rpm + '</button>' +
                    '</div>' +
                    '</div>' +
                    '</li>'
            });
            document.getElementById('timeAct').value = arrayDeCantidadDeCanchas
            document.getElementById('posAct').value = arrayDeCantidadDeCanchas

            document.getElementById('carriles').innerHTML = listaCanchas

            document.getElementById('vistaMostrando').innerHTML = newGrilla.actual.vista
            document.getElementById('pruebaMostrando').innerHTML = newGrilla.actual.output

            document.getElementById(newGrilla.actual.vista).classList.remove('list-group-item-action')
            document.getElementById(newGrilla.actual.vista).classList.add('list-group-item-danger')

            //SIDEBAR STAFF
            document.getElementById('tituloRegata').innerHTML = newGrilla.titulo
            var listMenu = ''
            newGrilla.data.forEach(function (item) {
                listMenu = listMenu + '<button type="button" onclick="setOutput(' + item.categoria.nro + ',this)" ' +
                    'class="nav-link link-dark text-decoration-none text-start >" id="tab' + item.categoria.nro + '" ' +
                    'style="cursor: pointer; text-align: left;"> ' +
                    '<b>' +
                    item.categoria.nro + '.' +
                    '</b> &nbsp ' + item.categoria.bote + ' ' +
                    item.categoria.cat + ' ' +
                    item.categoria.mf

                if (item.carriles[0].posicion != 0 || item.carriles[0].tiempo != "0:00.00") {
                    listMenu = listMenu + ' (T)'
                }

                listMenu = listMenu + ' </button>'
            })
            document.getElementById("listMenu").innerHTML = listMenu
            let tab = 'tab' + output
            let actualOutputTab = 'tab' + newGrilla.actual.output

            if (tab == actualOutputTab) {
                document.getElementById(tab).classList.add('active');
                document.getElementById(actualOutputTab).classList.remove('text-danger')
                document.getElementById(actualOutputTab).classList.add('bg-danger')
            } else {
                document.getElementById(tab).classList.add('active');
                document.getElementById(actualOutputTab).classList.add('text-danger')
            }
        })
    }

    function reiniciar(that) {
        if (that.innerText == 'seguro?') {
            let tab = document.getElementById('tab' + output)
            tab.innerHTML = '<b>' + tab.innerText.split('.')[0] + '.</b>' + tab.innerText.split('.')[1].split('(')[0]

            posiciones = []
            let arrayDeReinicio = []

            for (i in arrayDeCantidadDeCanchas) {
                arrayDeReinicio.push('r')
            }

            document.getElementById('timeAct').value = arrayDeReinicio
            // document.getElementById('ultActualizacion').value = Date.now()

            for (i = 0; i < 7; i++) {
                try {
                    document.getElementById('p' + i).innerHTML = '0'
                    document.getElementById('t' + i).innerHTML = '0:00.00'
                } catch (e) { }
            }

        } else {
            that.innerHTML = 'seguro?'
            that.classList.remove('btn-light')
            that.classList.add('btn-warning')
        }
    }

    function reiniciarPos(that) {
        if (that.innerText == 'seg.?') {
            posiciones = []
            let arrayDeReinicio = []

            for (i in arrayDeCantidadDeCanchas) {
                arrayDeReinicio.push('r')
            }

            document.getElementById('posAct').value = arrayDeReinicio

            for (i = 0; i < 7; i++) {
                try {
                    document.getElementById('p' + i).innerHTML = '0'
                } catch (e) { }
            }
        } else {
            that.innerHTML = 'seg.?'
            that.classList.remove('btn-light')
            that.classList.add('btn-warning')
        }
    }

    function reiniciarRPM() {

        document.getElementById('RPMact').value = 'reiniciar'

        for (i = 0; i < 7; i++) {
            try {
                document.getElementById('rm' + i).innerHTML = '00'
            } catch (e) { }
        }
    }

    function setTime(that) {
        let arrayTimes = document.getElementById('timeAct').value.split(',')

        time = document.getElementById('chrono').innerText
        // document.getElementById('canchaAct').value = that.id.charAt(1)
        document.getElementById('RPMact').value = ''
        // document.getElementById('posAct').value = ''
        // document.getElementById('timeAct').value = that.innerText


        if (time != '0:00.00') {
            that.innerHTML = time

            for (i in arrayTimes) {
                let idToSearch = 't' + i
                arrayTimes[i] = document.getElementById(idToSearch).innerText
            }

            document.getElementById('timeAct').value = arrayTimes

            let tab = document.getElementById('tab' + output)
            tab.innerHTML = '<b>' + tab.innerText.split('.')[0] + '.</b>' + tab.innerText.split('.')[1].split('(')[0] + ' (T)'

            let idOfPos = 'p' + that.id.charAt(1)
            idOfPos = document.getElementById(idOfPos)
            setPosicion(idOfPos, time)
        }
    }

    function setPosicion(that, time = '') {
        let arrayPosiciones = document.getElementById('timeAct').value.split(',')
        let tiemp = 't' + that.id.charAt(1)
        tiemp = document.getElementById(tiemp).innerText
        document.getElementById('canchaAct').value = that.id.charAt(1)

        document.getElementById('RPMact').value = ''
        // document.getElementById('timeAct').value = time

        if (that.innerText == '0') {
            posiciones.push(that.id)
            that.innerHTML = posiciones.length
        } else {
            reiniciarPos()
            for (i of posiciones) {
                document.getElementById(i).innerHTML = '0'
            }
            posiciones = [that.id]
            that.innerHTML = '1'
        }

        for (i in arrayPosiciones) {
            let id = 'p' + i
            arrayPosiciones[i] = document.getElementById(id).innerText
        }

        document.getElementById('posAct').value = arrayPosiciones
        document.getElementById("myForm").submit();
    }

    function setRPM(that) {

        var time = Date.now()
        document.getElementById('canchaAct').value = that.id.charAt(2)

        // document.getElementById('posAct').value = ''
        // document.getElementById('timeAct').value = ''

        if (that.id == idrm) {
            remds = remds + 1
            let rpm = parseInt(60 / (((time - timethen) / 1000)) * remds)
            document.getElementById('RPMact').value = rpm
            that.innerHTML = rpm
        } else {
            remds = 0
            idrm = that.id
            timethen = time
            document.getElementById('RPMact').value = '00'
            that.innerHTML = '......'
        }
    }

    function setOutput(id, that) {
        document.getElementById('titulo').innerHTML = '<div class="spinner-grow text-info" role="status"> <span class="sr-only">Loading...</span> </div> Cargando... '
        document.getElementById('carriles').innerHTML = ''
        document.getElementById('output').value = id

        document.getElementById('tab' + output).classList.remove('active')
        document.getElementById('tab' + output).classList.remove('bg-danger')
        that.classList.add('active');

        document.getElementById('pruebaMostrar').innerHTML = id

        output = id
        posiciones = []

        refrescar()
    }

    window.addEventListener("keydown", function (event) {
        if (event.defaultPrevented) {
            return; // Do nothing if the event was already processed
        }

        if (event.altKey) {
            if (Number(event.key)) {
                let tiempId = 't' + parseInt(Number(event.key) - 1)
                try {
                    tiempId = document.getElementById(tiempId)
                    setTime(tiempId)
                } catch (e) { }

            }

        } else if (Number(event.key)) {
            let posId = 'p' + parseInt(Number(event.key) - 1)
            try {
                posId = document.getElementById(posId)
                setPosicion(posId)
            } catch (e) { }

        }
    })
</script>

</html>