<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand"> Monitor de regatas </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" onclick="crearCSV()">
                        Archivo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="/agregar"> Agregar </a></li>
                        <li><a class="dropdown-item" href="/formato"> Formato requerido </a></li>
                        <li><a class="dropdown-item" href="/downloadCSV"> Descargar </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/terminal">Terminal de control</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Visualizadores
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li class="fw-bold ps-3 bd-dark"> OBS 1920 x 1080 </li>
                        <li><a class="dropdown-item" href="/clima"> Clima </a></li>
                        <li><a class="dropdown-item" href="/compitiendo"> Compitiendo </a></li>
                        <li><a class="dropdown-item" href="/tripulacion"> Tripulación </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/resultados"> Resultados </a></li>
                        <li><a class="dropdown-item disabled" href="#"> Puntajes </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/visualizador"> Visualizador Actualizable </a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-text  ms-auto mb-2 mb-lg-0"><img src="/logo fepare multicolor.png" width="30" height="24"></img></a>  
        </div>
    </div>
</nav>

<form action="/crearCSV" id="crearCSV" method="post" target="receiver"></form>
<iframe name="receiver" id="receiver" hidden></iframe>

<script>
    function crearCSV() {
        document.getElementById('crearCSV').submit()
    }
</script>