<!-- Custom styles for this template -->
<link href="/styles/sidebars.css" rel="stylesheet">

<main>
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <a href="/" class="text-center  link-dark text-decoration-none">
            <span class="fs-5 text-center">
                <div id='tituloRegata'>
                    <%= grilla.titulo %>
                </div>
            </span>
        </a>
        <hr>
        <div class="scrollarea">
            <ul class="nav nav-pills flex-column mb-auto" id="listMenu">

            </ul>

        </div>
    </div>


    <div class="b-example-divider"></div>
</main>

<script src="sidebars.js"></script>