<head>
    <meta charset="UTF-8">
    <title>
        Tripulación
    </title>
    <%- include('../partials/head.html') %>
        <script src="/scripts/clock.js"></script>
        <link href="/styles/visualizadores.css" rel="stylesheet">
</head>

<script>
    myLastRefresh = '0'

    window.addEventListener('load', fetchGrilla().then(newGrilla => {
        refrescar()
    }))

    setInterval('getStatus()', 5000)

    //OBTENER DATOS QUE VARIAN EN TIEMPO
    async function fetchStatus() {
        const response = await fetch('/status.json');
        const newGrilla = await response.json();
        return newGrilla;
    }

    //COLOCAR DATOS QUE VARIAN EN TIEMPO
    async function getStatus() {
        fetchStatus().then(data => {
            if (data.refresh != myLastRefresh) {
                myLastRefresh = data.refresh
                refrescar()
            }
        })
    }

    //OBTENER DATOS QUE VARIAN EN TIEMPO
    async function fetchGrilla() {
        const response = await fetch('/grilla.json');
        const newGrilla = await response.json();
        return newGrilla;
    }

    //COLOCAR DATOS QUE VARIAN EN TIEMPO
    async function refrescar() {

        fetchGrilla().then(newGrilla => {
            var output = parseInt(newGrilla.actual.output)

            // TITULO DE REGATA
            var regataAct = newGrilla.data[output - 1].categoria.nro + '. ' +
                newGrilla.data[output - 1].categoria.bote + ' ' +
                newGrilla.data[output - 1].categoria.cat + ' ' +
                newGrilla.data[output - 1].categoria.mf
            document.getElementById("regataAct").innerHTML = regataAct

            if (newGrilla.data[output - 0] == undefined) {
                var sigRegata = ''
            } else {
                var sigRegata = newGrilla.data[output - 0].categoria.nro + '. ' +
                    newGrilla.data[output - 0].categoria.bote + ' ' +
                    newGrilla.data[output - 0].categoria.cat + ' ' +
                    newGrilla.data[output - 0].categoria.mf

            }
            document.getElementById("sigRegata").innerHTML = sigRegata

            if (newGrilla.data[output - 2] == undefined) {
                var antRegata = ''
            } else {
                var antRegata = newGrilla.data[output - 2].categoria.nro + '. ' +
                    newGrilla.data[output - 2].categoria.bote + ' ' +
                    newGrilla.data[output - 2].categoria.cat + ' ' +
                    newGrilla.data[output - 2].categoria.mf
            }

            document.getElementById("antRegata").innerHTML = antRegata

            // CLUB Y REMEROS
            let carriles = ''
            let clubes = ''
            let remeros = ''
            for (i in newGrilla.data[output - 1].carriles) {
                carriles = carriles + '<div class="col-2 text-center h6 text-justify" style="color: white">' +
                    'carril ' + parseInt(parseInt(i) + 1) +
                    '</div>'


                clubes = clubes + '<div class="col-2 contenedor m-0">' +
                    '<svg version="1.1" id="Layer_2_1_" xmlns="http://www.w3.org/2000/svg"' +
                    'xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 316.3 53.6"' +
                    'style="enable-background:new 0 0 316.3 53.6;" xml:space="preserve">' +
                    '<style type="text/css">' +
                    '.st0 {' +
                    'fill: #FFFFFF;' +
                    '}' +
                    '</style>' +
                    '<path class="st0" d="M239.6,0h-163C-3.2,0,0,53.6,0,53.6h316.3C316.3,53.6,319.5,0,239.6,0z" />' +
                    '</svg>' +

                    '<div class="dentroSVG text-center h3" id="regataAct" style="font-weight: bold; color: #036;">' +
                    newGrilla.data[output - 1].carriles[i].club +
                    '</div>' +
                    '</div>'

                remeros = remeros + '<div class="col-2 text-center h5 fw-light text-wrap" style="color: white">'
                for (j of newGrilla.data[output - 1].carriles[i].nombres) {
                    remeros = remeros + '• ' + j + '<br>'
                }
                remeros = remeros + '</div>'
            }

            document.getElementById('carriles').innerHTML = carriles
            document.getElementById('clubes').innerHTML = clubes
            document.getElementById('remeros').innerHTML = remeros
        })
    }

</script>

<body>
    <main>
        <div class="row w-100 bg-black bg-opacity-75 m-0 align-items-center">
            <div class="col-1"></div>

            <div class="col text-center align-self-end fw-light h7 pt-3" style="color: white; font-kerning: none;">
                <%= grilla.titulo %> &nbsp | &nbsp <%= grilla.fecha %> &nbsp | &nbsp <%= grilla.sede %>
            </div>

            <div class="col-1 fs-5 p-0 text-center contenedor" style="color: white;">
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 316.3 53.62">
                    <defs>
                        <style>
                            .cls-2 {
                                fill: #036;
                            }
                        </style>
                    </defs>
                    <path class="cls-2"
                        d="M7063.76,7532.07h162.95c79.89,0,76.66-53.61,76.66-53.61H6987.1S6983.87,7532.07,7063.76,7532.07Z"
                        transform="translate(-6987.08 -7478.46)" />
                </svg>
                <!-- RELOJ -->
                <p id="clock" class="text-center dentroSVG h6" style="font-weight: normal;">

                </p>

            </div>
        </div>

        <div class="row w-100 m-0 ps-5 pe-5 align-items-center text-nowrap animate__animated animate__slideInDown"
            style="background-color: #990000;">

            <div class="col-4">
                <div class="text-center h4" id="antRegata" style="color: white;">
                </div>
            </div>

            <div class="col-4 p-0 contenedor m-0">
                <svg id="Layer_3" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 644.82 53.62">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #fff;
                            }
                        </style>
                    </defs>
                    <path class="cls-1"
                        d="M7451.63,6767H6960.16c-79.89,0-76.66-53.62-76.66-53.62h644.79S7531.53,6767,7451.63,6767Z"
                        transform="translate(-6883.49 -6713.35)" />
                </svg>

                <div class="dentroSVG text-center h3" id="regataAct" style="font-weight: bold; color: #990000;">
                </div>
            </div>
            <div class="col-4">
                <div class="text-center h4" id="sigRegata" style="color: white;">
                </div>
            </div>
        </div>

        <div class="container-flex fixed-bottom animate__animated animate__slideInUp">
            <!-- carriles -->
            <div id="carriles" class="row justify-content-md-center w-100 m-0 ps-5 pe-5 align-items-center text-nowrap">

            </div>

            <!-- CLUBES -->
            <div id="clubes" class="row justify-content-md-center w-100 m-0 ps-5 pe-5 align-items-center text-nowrap"
                style="background-color: #036;">

            </div>

            <!-- REMEROS -->
            <div id="remeros"
                class="row justify-content-md-center w-100 m-0 ps-5 pe-5 p-3 align-items-center bg-black bg-opacity-75 text-nowrap">

            </div>
        </div>

    </main>

</body>